<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sweet home</title>
</head>
<body>
<h2>chukurs company home page</h2>
<hr>
<p>
    Welcome to the chukurs company home page!
</p>
<hr>
<p>
    Username: <span sec:authentication="principal.username"/>
    <br> <br>
    Roles: <span sec:authentication="principal.authorities"/>
</p>

<hr>

<!--
Add link to point to /leader -- for MANAGERS
-->
<p>

    <a th:href="@{/leaders}"> Leadership Meeting (Only for ROLE_MANAGER)</a>
</p>
<hr>
<hr>

<!--
Add link to point to /systems -- for ADMINS
-->
<p>

    <a th:href="@{/systems}"> IT Systems Meeting (Only for ROLE_ADMIN)</a>
</p>
<hr>
<form action="#" th:action="@{/logout}" method="POST">

    <input type="submit" value="Logout"/>

    <div class="form-group">
        <div class="col-xs-15">
            <div>

                <div th:if="${param.logout}">
                    <i> You have been logged out.</i>
                </div>
            </div>
        </div>
    </div>

</form>
</body>
</html>