<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student registration form </title>
    <link rel="stylesheet"
          th:href="@{/css/demo.css}"/>
</head>
<body>
<h3> Student registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    <!-- th:field="*{firstName}" == th:field="{student.firstName}"-->
    First name <input type="text" th:field="*{firstName}"/>
    Last name <input type="text" th:field="*{lastName}"/>


    <br> <br>
    Country:
    <select th:field="*{country}">
        <!--  <option th:value="Brazil"> Brazil</option>
         <option th:value="Latvia">Latvia</option>
         <option th:value="France">France</option>
         <option th:value="India"> India</option>
         <option th:value="Germany"> Germany</option>
         -->
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>

    </select>
    <br> <br>
    Favorite Programming Language:
    <input type="radio" th:field="*{programmingLanguage}"
           th:each="tempProgrammingLanguage : ${programmingLanguages}"
           th:value="${tempProgrammingLanguage}"
           th:text="${tempProgrammingLanguage}"/>


    <input type="submit" value="Submit"/>

</form>
</body>
</html>